### Tutorial 16-Position and Keyword Argument in functions

In [1]:
def hello(name,age):
    print("hello"+name+"you are"+str(age)+"year old")


hello("Dawa",25)

helloDawayou are25year old

In [6]:
def hello(name, age, dob):
    print(f"Name: {name}, Age: {age}, DOB: {dob}")

In [10]:
lst = list(('dawa', 'Ghising'))  # ['Krish', 'Naik']
dict_val = {'age': 26, 'dob': 1998}

hello(*lst, **dict_val)  # This is causing the issue
hello('dawa', 'ghising', age=26, dob=1998)

TypeError: hello() got multiple values for argument 'age'

In [12]:
def hello(name, age, dob):
    print(f"Name: {name}, Age: {age}, DOB: {dob}")

lst = ['Dawa']
dict_val = {'age': 26, 'dob': 1998}

hello(*lst, **dict_val)

Name: Dawa, Age: 26, DOB: 1998

In [13]:
hello("Krish","Naik","1","2","1989",age=12,dob=1989)

('Krish', 'Naik', '1', '2', '1989')
{'age': 12, 'dob': 1989}