### tutorial 7 sets dictionary and tuples

### SETS

A sets is an unordered collection data type that is iterable, mutable, and has no duplicate elements.
python's set class represents the mathematical nation of a set. This is based on a data structure known
as a hash table.

In [1]:
## Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
type({1,2,3,4,5,'Krish'})

set

In [3]:
print(set([1,2,3,4,5,5])) #has no duplicate elements

{1, 2, 3, 4, 5}

In [4]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [5]:
# list is subscribable and set is not subscrible, note- set cont perform indexing and cant assign value
List_var=[1,2,3,4,5,6]
List_var[2]

3

In [6]:
set_val=({1,2,3,4,5,'Krish'})
set_val[5]

TypeError: 'set' object is not subscriptable

In [7]:
set_val=({1,2,3,4,5,6,7,8,9})
set_val1[3]

NameError: name 'set_val1' is not defined

In [8]:
#inbuilt_function in sets
set_val.add('dawa')

In [9]:
set_val

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'dawa'}

In [10]:
set_val.add(0)

In [11]:
set_val

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'dawa'}

In [12]:
set_var

{'Avengers', 'Hitman', 'IronMan'}

In [13]:
set_var.add('Dawa')

In [14]:
set_var #ordered collection

{'Avengers', 'Dawa', 'Hitman', 'IronMan'}

In [15]:
#intersection function
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [16]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [17]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [18]:
set2.intersection_update(set1)

In [19]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [20]:
#difference
set2.difference(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [23]:
set2.difference_update(set1)

set2

### Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In  python dictionaries
are written with curly brackets, and they have keys and values

In [26]:
dic={}

In [27]:
type(dic)

dict

In [28]:
type({})

dict

In [29]:
type({1})

set

In [30]:
type({1:"krish"})

dict

In [31]:
dict(name="krish",age=31,last_name="naik")

{'name': 'krish', 'age': 31, 'last_name': 'naik'}

In [36]:
#let create a dictionary 
my_dict={"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}

In [37]:
type(my_dict)

dict

In [39]:
#indexing of dictioanry
my_dict["Car1"]

'Audi'

In [47]:
my_dict[0]

KeyError: 0

In [49]:
# inbuilt function in dictionary

In [50]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [51]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [52]:
my_dict.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [53]:
# we can even loop thought the dictionary keys,items and values
for x in my_dict: #bydefault gives keys
    print(x)

Car1
Car2
Car3

In [55]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [56]:
for x in my_dict.keys():
    print(x)

Car1
Car2
Car3

In [57]:
#adding items 
my_dict["Car4"]="Ambassador"

In [58]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Ambassador'}

### nested dictionary

In [59]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [60]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [61]:
# Accessing the items in the dictionary
car_type['car1']

{'Mercedes': 1960}

In [62]:
car_type['car1']['Mercedes']

1960

## Tuples

In [65]:
#create an empty Tuples
my_tuple=tuple()

In [66]:
type(my_tuple)

tuple

In [68]:
my_tuple=("Krish","Ankur","John")

In [69]:
my_tuple

('Krish', 'Ankur', 'John')

In [70]:
# inbuilt function 
my_tuple.count('kriah')

0

In [71]:
my_tuple.count('Ankur')

1

In [76]:
my_tuple.index('Ankur')

1

In [73]:
#indexing
my_tuple[0]

'Krish'

In [74]:
my_tuple[2]

'John'

In [77]:
#we cant assign values in tuple through indexing
my_tuple[0]="krish"

TypeError: 'tuple' object does not support item assignment

In [78]:
#type cast
list(my_tuple)

['Krish', 'Ankur', 'John']