### Tutorial 13-Python Pandas Working with XML Tutorials Part 5

## 1 Read XML and get Dataframe

 ## 2. Convert Datafrane to XML

what is Xml?
1. xml stands for eXtensible Markup Language
2. XMl is a markup language much like HTML
3. Xml was designed to store and transport data
4. xml was designed to be self-descriptive
5. xml is w3c recommendatiom

In [2]:
import pandas as pd

In [6]:
xml=pd.read_xml('C:/Users/Lenovo/OneDrive/Documents/text.xml')

In [7]:
xml

      shape  degrees  sides  degree
0    square    360.0    4.0     NaN
1    circle    360.0    NaN     NaN
2  triangle      NaN    3.0   180.0

In [8]:
xml1 = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
  <row>
    <shape>square</shape>
    <degrees>360</degrees>
    <sides>4.0</sides>
    <firstname>Dawa</firstname>
  </row>
  <row>
    <shape>circle</shape>
    <degrees>360</degrees>
    <sides/>
    <firstname/>
  </row>
  <row>
    <shape>triangle</shape>
    <degrees>180</degrees>
    <sides>3.0</sides>
  </row>
</data>'''

In [14]:

pd.read_xml(xml1)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20196\3884150978.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml1)

      shape  degrees  sides firstname
0    square      360    4.0      Dawa
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [17]:
xml2='''<?xml version='1.0' encoding='utf-8'?>
<data>
    <row shape="square" degree="360" sides="4.0" firstname="krish"/>
    <row shape="circle" degrees="360"/>
    <row shape="trianle" degrees="180" sides="3.0" lastnames="Naik"/>
</data>'''

In [18]:
pd.read_xml(xml2)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20196\1686713709.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml2)

     shape  degree  sides firstname  degrees lastnames
0   square   360.0    4.0     krish      NaN      None
1   circle     NaN    NaN      None    360.0      None
2  trianle     NaN    3.0      None    180.0      Naik

In [19]:
pd.read_xml(xml2,xpath=".//row")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20196\151711770.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml2,xpath=".//row")

     shape  degree  sides firstname  degrees lastnames
0   square   360.0    4.0     krish      NaN      None
1   circle     NaN    NaN      None    360.0      None
2  trianle     NaN    3.0      None    180.0      Naik

In [20]:
xml3=xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides></doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [24]:
pd.read_xml(xml3,xpath=".//row")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20196\3700743744.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml3,xpath=".//row")

ValueError: xpath does not return any nodes or attributes. Be sure to specify in `xpath` the parent nodes of children and attributes to parse. If document uses namespaces denoted with xmlns, be sure to define namespaces and use them in xpath.

In [26]:
pd.read_xml(xml3,xpath=".//doc:row",namespaces={"doc": "https://example.com"})

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20196\1192976501.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml3,xpath=".//doc:row",namespaces={"doc": "https://example.com"})

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [27]:
df.to_xml('text1.xml)

SyntaxError: unterminated string literal (detected at line 1) (1121722905.py, line 1)